body{   
     border: 1px solid black;
     display: flex;
     justify-content: center;
     padding-left: 50px;
     background-image: url("images/bg.jpg");
     background-repeat: no-repeat;
     /* background-size: cover */
}

#legend {
    color: #555;
    font-size: 36px;
}

fieldset {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 20px;
    border: 5px solid rgb(175, 255, 71);
}

fieldset img {
    height: 260px;
    width: 400px;
    margin-right: 10px;
}

form div {
    margin-bottom: 10px;
    width: 100%;
}

#submit{
    background-color: rgb(102, 218, 25);
    font-size: 20px;   
    border: none;
    color: white;
    cursor: pointer;
}

form label{
    color: #333;
    font-weight: bold;
    font-size: 24px;
}

form input {
    width: 250px;
}